<div class="big-container big-container2">
    <div class="container">
        <header>
            <div class="logo">
                <h1>Exoplanets</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/myUniverse">My universe</a></li>
                    <li><a href="#">My profile</a></li>
                    <li><a href="/auth/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
        <div class="app-contPost">
            <div class="app-contPost-description">
                <div class="app-contPost-description_left">
                    <h2>{{planet.kepler_name}}</h2>
                    <p><span class="orange">Radius: </span>{{planet.koi_prad}}</p>
                    <p><span class="orange">Temp: </span>{{planet.koi_teq}}</p>
                    <p><span class="orange">Mass: </span>{{planet.koi_smass}} Jupiters</p>
                    <p><span class="orange">Orbital period: </span>{{planet.koi_period}}</p>
                </div>
                <div class="app-contPost-description_right">
                    <p><span class="orange">Description: </span>Is a gas giant exoplanet that orbits saturns mass its 112 Jupiter, it taken 23 days to complete the orbit of its star its discovey was announced in 2006</p>
                    <form action="/myUniverse" method="post">
                        <input type="hidden" name="name" value="{{planet.kepler_name}}">
                        <input type="hidden" name="rad" value="{{planet.koi_prad}}">
                        <input type="hidden" name="temp" value="{{planet.koi_teq}}">
                        <input type="hidden" name="mass" value="{{planet.koi_smass}}">
                        <input type="hidden" name="period" value="{{planet.koi_period}}">
                        <input type="hidden" name="planetId" value="{{planet.kepid}}">
                        <button class="sub-btn sub-btn2" type="submit">Save to your universe</button>
                    </form>
                </div>
            </div>
            <div class="app-contPost-canvas" id="planet">
            </div>
        </div>
    </div>
</div>